{% extends "global/base_index.html" %}

{% block scope %}
<div class="menu-bar">
  <h1>
    <a href="{% url "contact:index" %}">AGENDA</a>
  </h1>
</div>

<div class="container-contacts">
    <div class="table-contacts">
        <div class="table-title">
            <div>

                <h2>Registro</h2>
            
                <form 
                  action="{{ var_action }}"
                  method="POST"
                  class="contact-form"
                >
                    {% csrf_token %}
            
                  <div class="form-group">
                    {% for field in form  %}
                      <div class="label-container">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {{ field.errors }}
                      </div>
                    {% endfor %}
                  </div>
                  <div class="form-group">
                      {% if form.non_field_errors %}
                        <div class="error-message">
                          {{ form.non_field_errors }}
                        </div>
                      {% endif %}
                  </div>
                  <div class="form-group">
                    <div class="button-container">
                      <button type="submit" class="btn-submit">Enviar</button>
                    </div>
                  </div>
                  </div>
            
                </form>
              </div>
        </div>
    </div>
</div>
{% endblock scope %}